<% block = PostBlock.where(block_type: "why_means_financing_orange").first %>
<% block1 = PostBlock.where(block_type: "why_means_financing_orange1").first %>
<section class="help">
      <div class="container">

        <h3 class="subtitle">
          <%= block.name %>
        </h3>

        <div class="hero__info">
          <div class="hero__info_text">
           <%= raw company_name(block.text, @post.name) %>
          </div>

          <div class="hero__info_text">
            <%= raw company_name(block.add_data, @post.name) %>
          </div>
        </div>

        <div class="hero__info pd_bottom_off ">
          <div class="hero__block">
            <div class="hero__block_text">
             <%= raw company_name(block1.text, @post.name) %>
            </div>
          </div>

          <div class="hero__block">
            <div class="hero__block_text">
              <%= raw company_name(block1.add_data, @post.name) %>
            </div>
          </div>
        </div>
      </div>
    </section>